<% provide(:title, '書籍登録') %>
<h1>書籍登録</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@book) do |f| %>
      <div class="search_book">
        <div class="search_title">
          <label>書籍名</label>
          <input type="text" id="search_title">
          <input class="btn btn-danger" type="button " id="title_search_button" value="検索">
        </div>
        <div class="search_isbn">
          <label>Isbn&nbsp;&nbsp;&nbsp;</label>
          <%= f.number_field :isbn %>
          <input class="btn btn-danger" type="button" id="isbn_search_button" value="検索">
        </div>
      </div>
      <!-- <div id="info_search_button">検索</div> -->

      <hr>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <%= f.label :publisher %>
      <%= f.text_field :publisher %>

      <%= f.label :publishdate %>
      <%= f.text_field :publishdate %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :pagecount %>
      <%= f.text_field :pagecount %>

      <div id="book_thumbnail"></div>
      <%= f.text_field :image_name %>

      <%= f.label :textshippet %>
      <%= f.text_area :textshippet %>

      <%= f.submit "Register New Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $('#isbn_search_button').on('click', function(){
    const isbn = $("#book_isbn").val();
    const url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
    $.getJSON(url, function(data) {
      if(!data.totalItems) {
        $("#isbn").val("");
        $("#book_title").text("エラーです");
        $("#book_author").text("");
        $("#book_description").text("");
        $("#message").html('<p class="bg-warning" id="warning">該当する書籍がありません。</p>');
        $('#message > p').fadeOut(3000);
      } else {
// 該当書籍が存在した場合、JSONをパースして入力項目のデータを取得する
        console.log(data.items[0].volumeInfo.title);
        console.log(data.items[0].volumeInfo.authors[0]);
        console.log(data.items[0].volumeInfo.publishedDate);
        $("#book_title").val(data.items[0].volumeInfo.title);
        $("#book_author").val(data.items[0].volumeInfo.authors[0]);
        $("#book_publishdate").val(data.items[0].volumeInfo.publishedDate);
        $("#book_description").text(data.items[0].volumeInfo.description);
        $("#book_thumbnail").html('<img src=\"' + data.items[0].volumeInfo.imageLinks.smallThumbnail + '\" />');
        $("#book_image_name").val(data.items[0].volumeInfo.imageLinks.smallThumbnail);
        $("#book_publisher").val(data.items[0].volumeInfo.publisher);
        $("#book_pagecount").val(data.items[0].volumeInfo.pageCount);
        $("#book_textshippet").val(data.items[0].searchInfo.textSnippet);
      }
    });
  });

  $('#title_search_button').on('click', function(){
    const title = $("#search_title").val();
    const url = "https://www.googleapis.com/books/v1/volumes?q=" + title;
    $.getJSON(url, function(data) {
      if(!data.totalItems) {
        $("#isbn").val("");
        $("#book_title").text("エラーです");
        $("#book_author").text("");
        $("#book_description").text("");
        $("#message").html('<p class="bg-warning" id="warning">該当する書籍がありません。</p>');
        $('#message > p').fadeOut(3000);
      } else {
// 該当書籍が存在した場合、JSONをパースして入力項目のデータを取得する
        console.log(data.items[0].volumeInfo.title);
        console.log(data.items[0].volumeInfo.authors[0]);
        console.log(data.items[0].volumeInfo.publishedDate);
        console.log(data.items[0].volumeInfo.pageCount); //追加 pageCount
        console.log(data.items[0].searchInfo.textSnippet); //追加 textSnippet
        console.log(data.items[0].volumeInfo.publisher); //追加 pageCount
        $("#book_title").val(data.items[0].volumeInfo.title);
        $("#book_author").val(data.items[0].volumeInfo.authors[0]);
        $("#book_publishdate").val(data.items[0].volumeInfo.publishedDate);
        $("#book_description").text(data.items[0].volumeInfo.description);
        $("#book_thumbnail").html('<img src=\"' + data.items[0].volumeInfo.imageLinks.smallThumbnail + '\" />');
        $("#book_image_name").val(data.items[0].volumeInfo.imageLinks.smallThumbnail);
        $("#book_publisher").val(data.items[0].volumeInfo.publisher);
        $("#book_pagecount").val(data.items[0].volumeInfo.pageCount);
        $("#book_textshippet").val(data.items[0].searchInfo.textSnippet);
      }
    });
  });
</script>
